{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    510 E Peltason Dr<br />
    Irvine, CA 92697<br />
</address>

<address>
    <strong>Support via LinkedIn:</strong>  
    <br /><a href="https://www.linkedin.com/in/zachary-grinacoff-07304572/">Zachary Grinacoff's LinkedIn</a><br />
    <a href="https://www.linkedin.com/in/pourmehr">Spring Pour's LinkedIn</a><br />
    <a href="https://www.linkedin.com/in/jackson-metivier-9951a6146/">Jackson Metivier's LinkedIn</a><br />
    <!-- <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> -->
</address>

{% endblock %}
